:root {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --third-bg-color: #2f303a;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --supporting-color: #2196f3;
  --logo-secondary-color: #000000;
  --logo-primery-color: #AFB1B8;
  --cubic-value:0.4, 0, 0.2, 1;
  --animation-time: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: default;
}

.container {
  display: flex;
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container--align-items-flex-start {
  align-items: flex-start;
}
.container--for-filter-btns {
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}
.container__element {
  transition: box-shadow 250ms cubic-bezier(var(--cubic-value));
}
.container__element:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.container__element:not(:nth-last-child(3n+1)) {
  margin-right: 30px;
}
.container__element:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.section {
  padding: 94px 0px;
}
.section__name {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.section__header {
  color: var(--third-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.section--gray-background {
  background-color: var(--secondary-bg-color);
}
.section--darkgray-background {
  background-color: var(--third-bg-color);
}
.section--hero-background-img {
  background-size: cover;
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bghero.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.section--without-padding-bottom {
  padding-bottom: 0px;
}
.section--footer-paddings {
  padding: 60px 0;
}
.section--hero-paddings {
  padding: 200px 0px;
}

.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  background-color: var(--main-bg-color);
}
.modal-close-btn__icon {
  transition: fill var(--animation-time) cubic-bezier(var(--cubic-value));
  width: 30px;
  height: 30px;
}
.modal-close-btn__icon:hover {
  fill: var(--supporting-color);
  cursor: pointer;
}

.socialnetworks {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.socialnetworks__element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--logo-primery-color);
  cursor: pointer;
  transition: background-color var(--animation-time) cubic-bezier(var(--cubic-value)), color var(--animation-time) cubic-bezier(var(--cubic-value));
}
.socialnetworks__element__logo {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.socialnetworks__element:hover, .socialnetworks__element:focus {
  background-color: var(--supporting-color);
  color: var(--main-bg-color);
  fill: currentColor;
}
.socialnetworks__element--inverse {
  color: var(--main-bg-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.socialnetworks--our-team-padding {
  padding: 16px 32px 30px 32px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--third-text-color);
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
  background-color: var(--supporting-color);
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: transparent;
  margin: 0 auto;
  transition: background-color var(--animation-time) cubic-bezier(var(--cubic-value));
}
.button__logo {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.button:hover, .button:focus {
  background-color: #188CE8;
}
.button--lighter-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo__first-part {
  color: var(--supporting-color);
}
.logo__second-part {
  line-height: 1.38;
  color: var(--logo-secondary-color);
}
.logo__second-part--inverse {
  color: var(--third-text-color);
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 1250ms cubic-bezier(var(--cubic-value)), visibility 1250ms cubic-bezier(var(--cubic-value));
}

.modal {
  height: 581px;
  width: 528px;
  background-color: var(--main-bg-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
  opacity: 1;
  transform: scale(1);
  transition: opacity 1250ms cubic-bezier(var(--cubic-value)), transform 1250ms cubic-bezier(var(--cubic-value));
}

.is-hidden .modal {
  transform: scale(0.2);
  opacity: 0;
}

.navigation {
  display: flex;
  margin-left: 92px;
  padding: 32px 0px;
  gap: 50px;
}
.navigation__element {
  padding: 32px 0px;
  color: inherit;
  position: relative;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1), fill var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__element:focus, .navigation__element:hover {
  color: var(--supporting-color);
  cursor: pointer;
  fill: currentColor;
}
.navigation__element--selected::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--supporting-color);
  bottom: -1px;
}

.contacts {
  display: flex;
  margin-left: 92px;
  gap: 50px;
  margin-left: auto;
}
.contacts__element {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  padding: 32px 0px;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1), fill var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__element:focus, .contacts__element:hover {
  color: var(--supporting-color);
  cursor: pointer;
  fill: currentColor;
}
.contacts__mail {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}
.contacts__tel {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.modal-header {
  margin-bottom: 12px;
  text-align: center;
}

.label {
  display: block;
  margin-bottom: 10px;
}
.label__text {
  margin-bottom: 4px;
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 1%;
}

.input {
  position: relative;
}
.input__field {
  padding: 12px 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--animation-time) cubic-bezier(var(--cubic-value));
}
.input__field:focus, .input__field:hover {
  outline: none;
  border-color: var(--supporting-color);
}
.input__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  width: 18px;
  height: 18px;
  transition: fill var(--animation-time) cubic-bezier(var(--cubic-value));
}
.input__field:focus + .input__icon, .input__field:hover + .input__icon {
  fill: var(--supporting-color);
}

.textarea {
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  transition: border-color var(--animation-time) cubic-bezier(var(--cubic-value));
}
.textarea::placeholder {
  color: rgba(117, 117, 117, 0.3137254902);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 1%;
}
.textarea:hover, .textarea:focus {
  border-color: var(--supporting-color);
  outline: none;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  color: var(--secondary-text-color);
}
.checkbox__input {
  position: absolute;
}
.checkbox__input:focus + .checkbox__img {
  outline: 1px solid var(--supporting-color);
}
.checkbox__input:checked + .checkbox__img {
  border-color: var(--supporting-color);
  fill: var(--supporting-color);
  border: 0px solid var(--main-text-color);
  /* background-image: url(../images/icon_checked.svg); */
  outline-color: transparent;
}
.checkbox__img {
  box-sizing: border-box;
  width: 16px;
  height: 15px;
  fill: transparent;
  margin-right: 8px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
}
.checkbox__link {
  color: var(--supporting-color);
  text-decoration: underline;
  cursor: pointer;
}

.address {
  flex-flow: column;
  align-items: flex-start;
}
.address__text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-top: 20px;
}
.address__link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation-time) cubic-bezier(var(--cubic-value));
  margin-top: 9px;
  cursor: pointer;
}
.address__link:hover, .address__link:focus {
  color: var(--supporting-color);
}

.footer-block {
  margin-top: 12px;
}
.footer-block--socialnetworks {
  margin-left: 70px;
}
.footer-block--subscribe {
  width: 570px;
  height: 86px;
  margin-left: auto;
}
.footer-block__header {
  color: var(--main-bg-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  padding-bottom: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.subscribe-form {
  display: flex;
}
.subscribe-form__input {
  width: 100%;
  height: 50px;
  margin-right: 12px;
  background-color: transparent;
  box-shadow: 0px, 4px, 4px, rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  padding: 15px 16px;
  color: var(--third-text-color);
}
.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
}

.our-customer {
  display: flex;
  width: 170px;
  height: 92px;
  color: var(--logo-primery-color);
  border: 1px solid var(--logo-primery-color);
  border-radius: 4px;
  transition: border-color var(--animation-time) cubic-bezier(var(--cubic-value)), color var(--animation-time) cubic-bezier(var(--cubic-value));
}
.our-customer__logo {
  width: 106px;
  height: 60px;
  margin: auto auto;
  fill: currentColor;
}
.our-customer:hover, .our-customer:focus {
  cursor: pointer;
  color: var(--supporting-color);
  border-color: var(--supporting-color);
}

.our-team-card {
  text-align: center;
  background-color: var(--main-bg-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.our-team-card__img {
  display: block;
}
.our-team-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 30px;
}
.our-team-card__job {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.skill-card {
  flex-basis: calc((100% - 90px) / 4);
}
.skill-card__logo-container {
  display: flex;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.skill-card__logo-container__logo {
  width: 70px;
  height: 70px;
}
.skill-card__header {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.skill-card__paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  cursor: pointer;
  padding: 6px 22px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  border-color: transparent;
  transition: color var(--animation-time) cubic-bezier(var(--cubic-value)), background-color var(--animation-time) cubic-bezier(var(--cubic-value)), box-shadow var(--animation-time) cubic-bezier(var(--cubic-value));
}
.filter-button:hover, .filter-button:focus {
  color: var(--third-text-color);
  background-color: var(--supporting-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-card {
  cursor: pointer;
}
.portfolio-card__img-container {
  position: relative;
  overflow: hidden;
  pointer-events: none;
}
.portfolio-card__img-container__img {
  display: block;
}
.portfolio-card__text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.portfolio-card__text__name {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.portfolio-card__text__type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.portfolio-card:hover .overlay, .portfolio-card:focus .overlay {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(var(--cubic-value));
}
.overlay__text {
  color: var(--third-text-color);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
}

.image-card {
  position: relative;
}
.image-card__img {
  display: block;
}
.image-card__label-wrapper {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
}
.image-card__label-wrapper__label {
  position: absolute;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--third-text-color);
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=main.css.map */