:root {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --third-bg-color: #2f303a;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --supporting-color: #2196f3;
  --logo-secondary-color: #000000;
  --logo-primery-color: #AFB1B8;
  --cubic-value:0.4, 0, 0.2, 1;
  --animation-time: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: default;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  border-top: 1px solid #ececec;
}

.container {
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.container--footer {
  padding: 60px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .container--footer {
    width: 738px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .container--footer {
    width: 1170px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.container--for-filter-btns {
  display: inline-flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0px 15px 40px 15px;
}
@media screen and (min-width: 480px) {
  .container--for-filter-btns {
    width: 450px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .container--for-filter-btns {
    width: 738px;
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .container--for-filter-btns {
    width: 1170px;
    margin-bottom: 50px;
  }
}

.section {
  padding: 60px 0;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
.section__name {
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 28px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__name {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.section__header {
  color: var(--third-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__header {
    font-size: 44px;
    line-height: 1.36;
  }
}
.section--gray-background {
  background-color: var(--secondary-bg-color);
}
.section--darkgray-background {
  background-color: var(--third-bg-color);
}
.section--hero-background-img {
  display: flex;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .section--hero-background-img {
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_desktop_x1.jpg");
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section--hero-background-img {
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_tablet_x1.jpg");
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 767px) {
  .section--hero-background-img {
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_mobile_x1.jpg");
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .section--hero-background-img {
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_desktop_x2.jpg");
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .section--hero-background-img {
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_tablet_x2.jpg");
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .section--hero-background-img {
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_mobile_x2.jpg");
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.section--without-padding-bottom {
  padding-bottom: 0px;
}
.section--with-list {
  padding-bottom: 60;
}
@media screen and (min-width: 768px) {
  .section--with-list {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section--with-list {
    padding-bottom: 0;
  }
}
.section--what-we-do {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section--what-we-do {
    display: block;
  }
}

.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  background-color: var(--main-bg-color);
}
.modal-close-btn__icon {
  transition: fill var(--animation-time) cubic-bezier(var(--cubic-value));
  width: 30px;
  height: 30px;
}
.modal-close-btn__icon:hover {
  fill: var(--supporting-color);
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--third-text-color);
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
  background-color: var(--supporting-color);
  width: 200px;
  min-height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: transparent;
  margin: 0 auto;
  transition: background-color var(--animation-time) cubic-bezier(var(--cubic-value));
}
.button__logo {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.button:hover, .button:focus {
  background-color: #188CE8;
}
.button--lighter-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.socialnetworks {
  display: inline-flex;
  gap: 10px;
}
.socialnetworks__element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--logo-primery-color);
  cursor: pointer;
  transition: background-color var(--animation-time) cubic-bezier(var(--cubic-value)), color var(--animation-time) cubic-bezier(var(--cubic-value));
}
.socialnetworks__element__logo {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.socialnetworks__element:hover, .socialnetworks__element:focus {
  background-color: var(--supporting-color);
  color: var(--main-bg-color);
  fill: currentColor;
}
.socialnetworks__element--inverse {
  color: var(--main-bg-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.socialnetworks--our-team-padding {
  padding: 16px 0 24px 0;
}

.logo {
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo__first-part {
  color: var(--supporting-color);
}
.logo__second-part {
  color: var(--logo-secondary-color);
}
.logo__second-part--inverse {
  color: var(--third-text-color);
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 1250ms cubic-bezier(var(--cubic-value)), visibility 1250ms cubic-bezier(var(--cubic-value));
}

.modal {
  max-width: 450px;
  max-height: 609px;
  background-color: var(--main-bg-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
  opacity: 1;
  transform: scale(1);
  transition: opacity 1250ms cubic-bezier(var(--cubic-value)), transform 1250ms cubic-bezier(var(--cubic-value));
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.is-hidden .modal {
  transform: scale(0.2);
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    margin-left: 88px;
    padding: 0px 0px;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 93px;
  }
}
.navigation li {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .navigation li {
    margin-bottom: 0px;
  }
}
.navigation__element {
  color: var(--main-text-color);
  position: relative;
  font-weight: 500;
  letter-spacing: 2%;
  font-size: 40px;
  line-height: 1.172;
  transition: color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1), fill var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .navigation__element {
    padding: 32px 0px;
    font-size: 14px;
    z-index: 1;
  }
}
.navigation__element:focus, .navigation__element:hover {
  color: var(--supporting-color);
  cursor: pointer;
  fill: currentColor;
}
.navigation__element--selected::after {
  position: absolute;
  content: "";
  display: none;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--supporting-color);
  bottom: 0px;
}
@media screen and (min-width: 768px) {
  .navigation__element--selected::after {
    display: block;
  }
}

.contacts {
  margin: auto 0 32px 0;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row-reverse;
    gap: 30px;
  }
}
.contacts li {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .contacts li {
    margin: 0;
  }
}
.contacts__element {
  color: var(--secondary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1), fill var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .contacts__element {
    font-size: 12px;
  }
}
.contacts__element:focus, .contacts__element:hover {
  color: var(--supporting-color);
  cursor: pointer;
  fill: currentColor;
}
.contacts__element--mobile-telephone {
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 2%;
  color: var(--supporting-color);
}
.contacts__element--mobile-email {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 2%;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .contacts__element {
    display: flex;
    align-items: center;
  }
}
.contacts__mail {
  display: none;
  width: 14px;
  height: 10px;
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .contacts__mail {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__mail {
    width: 16px;
    height: 12px;
  }
}
.contacts__tel {
  display: none;
  width: 10px;
  height: 14px;
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .contacts__tel {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__tel {
    width: 10px;
    height: 16px;
  }
}

.menu-button {
  display: inline-flex;
  padding: 0;
  margin: auto 0;
  border: none;
  background-color: transparent;
  align-self: end;
  z-index: 1000;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button__icon-menu-close {
  display: none;
}
.is-open .menu-button__icon-menu-close {
  display: block;
}
.is-open .menu-button__icon-menu {
  display: none;
}
.menu-button.go-away {
  display: none;
}

@media screen and (max-width: 479px) {
  .header {
    margin: auto 15px;
  }
}
@media screen and (min-width: 480px) {
  .header {
    margin: auto auto;
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0;
    width: 758px;
    height: 80px;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 0;
    width: 1170px;
  }
}

.header-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
@media screen and (min-width: 480px) {
  .header-logo-container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .header-logo-container {
    width: 134px;
  }
}

.navigation-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  overflow: auto;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding: 48px 40px;
}
@media screen and (min-width: 480px) {
  .navigation-container {
    padding: 48px calc(40px + (100vw - 450px) * 0.5);
  }
}
@media screen and (min-width: 768px) {
  .navigation-container {
    position: static;
    align-items: center;
    flex-direction: row;
    min-height: 80px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    height: auto;
    padding: 0px 0px;
    z-index: 0;
    background-color: transparent;
  }
}
.navigation-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.navigation-container.is-open .menu-button__icon-menu-close {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.navigation-container .mobile-menu__social {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
}
.navigation-container .mobile-menu__social li:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.navigation-container .mobile-menu__social li:not(:first-child) {
  padding-left: 10px;
}
.navigation-container .mobile-menu__social li a {
  color: var(--supporting-color);
  font-size: 18px;
  letter-spacing: 2%;
  line-height: 1.22;
}
@media screen and (min-width: 768px) {
  .navigation-container .mobile-menu__social {
    display: none;
  }
}

.hero-main-container {
  background-color: var(--third-bg-color);
}

.hero-content-container {
  margin: auto auto;
}

.modal-header {
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}

.label {
  display: block;
  margin-bottom: 10px;
}
.label__text {
  margin-bottom: 4px;
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 1%;
}

.input {
  position: relative;
}
.input__field {
  padding: 12px 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--animation-time) cubic-bezier(var(--cubic-value));
}
.input__field:focus, .input__field:hover {
  outline: none;
  border-color: var(--supporting-color);
}
.input__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  width: 18px;
  height: 18px;
  transition: fill var(--animation-time) cubic-bezier(var(--cubic-value));
}
.input__field:focus + .input__icon, .input__field:hover + .input__icon {
  fill: var(--supporting-color);
}

.textarea {
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  transition: border-color var(--animation-time) cubic-bezier(var(--cubic-value));
}
.textarea::placeholder {
  color: rgba(117, 117, 117, 0.3137254902);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 1%;
}
.textarea:hover, .textarea:focus {
  border-color: var(--supporting-color);
  outline: none;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 3%;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .checkbox {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox {
    font-size: 14px;
  }
}
.checkbox__input {
  position: absolute;
}
.checkbox__input:focus + .checkbox__img {
  outline: 1px solid var(--supporting-color);
}
.checkbox__input:checked + .checkbox__img {
  border-color: var(--supporting-color);
  fill: var(--supporting-color);
  border: 0px solid var(--main-text-color);
  /* background-image: url(../images/icon_checked.svg); */
  outline-color: transparent;
}
.checkbox__img {
  box-sizing: border-box;
  width: 16px;
  height: 15px;
  fill: transparent;
  margin-right: 8px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
}
.checkbox__link {
  color: var(--supporting-color);
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  margin: 0 auto;
}

.address {
  flex-flow: column;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .address {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
  }
}
.address__text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-top: 20px;
}
.address__link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation-time) cubic-bezier(var(--cubic-value));
  margin-top: 8px;
  cursor: pointer;
}
.address__link:hover, .address__link:focus {
  color: var(--supporting-color);
}

@media screen and (min-width: 1200px) {
  .footer-block--socialnetworks {
    margin-right: 23px;
  }
}
.footer-block__header {
  text-align: center;
  color: var(--main-bg-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  padding-bottom: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .footer-block__header {
    text-align: left;
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
    flex-direction: row;
    gap: 12px;
  }
}
.subscribe-form__input {
  width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  box-shadow: 0px, 4px, 4px, rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  padding: 15px 16px;
  color: var(--third-text-color);
}
@media screen and (min-width: 480px) {
  .subscribe-form__input {
    width: 450px;
  }
}
.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    margin-bottom: 0;
    width: 358px;
  }
}
.subscribe-form__input + .button {
  min-width: 200px;
}

.our-customer {
  display: flex;
  flex-wrap: wrap;
  margin: -15px auto;
}
@media screen and (min-width: 480px) {
  .our-customer {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .our-customer {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .our-customer {
    width: 1200px;
  }
}
.our-customer__element {
  width: calc((100vw - 60px) / 2);
  height: 92px;
  margin: 15px;
  display: flex;
  color: var(--logo-primery-color);
  border: 1px solid var(--logo-primery-color);
  border-radius: 4px;
  transition: border-color var(--animation-time) cubic-bezier(var(--cubic-value)), color var(--animation-time) cubic-bezier(var(--cubic-value));
}
@media screen and (min-width: 480px) {
  .our-customer__element {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .our-customer__element {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .our-customer__element {
    width: 170px;
  }
}
.our-customer__element__logo {
  width: 106px;
  height: 60px;
  margin: auto auto;
  fill: currentColor;
}
.our-customer__element:hover, .our-customer__element:focus {
  cursor: pointer;
  color: var(--supporting-color);
  border-color: var(--supporting-color);
}

.our-team-card-container {
  display: flex;
  flex-wrap: wrap;
  margin: -15px auto;
}
@media screen and (min-width: 480px) {
  .our-team-card-container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .our-team-card-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team-card-container {
    width: 1200px;
  }
}

.our-team-card {
  text-align: center;
  background-color: var(--main-bg-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: 15px auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  max-width: calc((100vw - 30px) / 1);
}
.our-team-card__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.our-team-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 30px;
}
.our-team-card__job {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .our-team-card {
    max-width: calc((100vw - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .our-team-card {
    max-width: calc((100vw - 120px) / 4);
  }
}

.skill-card-container {
  display: flex;
  flex-wrap: wrap;
  margin: -15px auto;
}
@media screen and (min-width: 480px) {
  .skill-card-container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .skill-card-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .skill-card-container {
    width: 1200px;
  }
}

.skill-card {
  margin: 15px;
  width: calc(100% - 30px);
}
@media screen and (min-width: 768px) {
  .skill-card {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .skill-card {
    width: calc((100% - 120px) / 4);
  }
}
.skill-card__logo-container {
  display: flex;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.skill-card__logo-container__logo {
  width: 70px;
  height: 70px;
}
.skill-card__header {
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .skill-card__header {
    text-align: left;
  }
}
.skill-card__paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: -15px 0;
}
@media screen and (min-width: 480px) {
  .portfolio {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    width: 1200px;
  }
}
.portfolio__element {
  margin: 15px;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(var(--cubic-value));
}
@media screen and (min-width: 480px) {
  .portfolio__element {
    width: calc((100% - 30px) / 1);
  }
}
@media screen and (min-width: 768px) {
  .portfolio__element {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__element {
    width: calc((100% - 90px) / 3);
  }
}
.portfolio__element:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  cursor: pointer;
  padding: 6px 22px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  border-color: transparent;
  transition: color var(--animation-time) cubic-bezier(var(--cubic-value)), background-color var(--animation-time) cubic-bezier(var(--cubic-value)), box-shadow var(--animation-time) cubic-bezier(var(--cubic-value));
}
.filter-button:hover, .filter-button:focus {
  color: var(--third-text-color);
  background-color: var(--supporting-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-card {
  cursor: pointer;
}
.portfolio-card__img-container {
  position: relative;
  overflow: hidden;
  pointer-events: none;
}
.portfolio-card__img-container__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.portfolio-card__text {
  padding: 20px 24px;
  height: auto;
}
.portfolio-card__text__name {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.portfolio-card__text__type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.portfolio-card:hover .overlay, .portfolio-card:focus .overlay {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(var(--cubic-value));
}
.overlay__text {
  color: var(--third-text-color);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
}

.image-card-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  width: 1170px;
  margin: 0 auto;
}

.image-card {
  position: relative;
}
.image-card__img {
  display: block;
}
.image-card__label-wrapper {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
}
.image-card__label-wrapper__label {
  position: absolute;
  font-size: 14px;
  letter-spacing: 3%;
  line-height: 1.17;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--third-text-color);
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=main.css.map */