.skill-card-container {
	display: flex;
	flex-wrap: wrap;
	margin: -15px auto;
	@media screen and (min-width:480px) {
        width: 480px;  
    }
    @media screen and (min-width:768px) {
        width: 768px;    
    }
    @media screen and (min-width:1200px) {
       width: 1200px;  
    }

}
.skill-card {
	//
	margin: 15px;
	width: calc(100% - 30px);
	@media screen and (min-width:768px) {
		
		width: calc((100% - 2 * 30px) / 2);
	}
	@media screen and (min-width:1200px) {
		width: calc((100% - 4 * 30px) / 4);
		
	}


    

    


	&__logo-container {
		display: flex;
		height: 120px;
		background-color: var(--secondary-bg-color);
		border-radius: 4px;
		margin-bottom: 30px;

		justify-content: center;
		align-items: center;
	
		&__logo {
			width: 70px;
			height: 70px;
		}
	}
	&__header {
		text-align: center;
		@media screen and (min-width:768px) {
			text-align: left;
		}
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	&__paragraph {
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.03em;
		color: var(--secondary-text-color);
	}
}