.our-team-card-container {
	display: flex;
	flex-wrap: wrap;
	margin: -15px auto;
	@media screen and (min-width:480px) {
        width: 480px;  
    }
    @media screen and (min-width:768px) {
        width: 768px;    
    }
    @media screen and (min-width:1200px) {
       width: 1200px;  
    }
	// width:450px;
	// @media screen and (min-width:480px) {
	// 	width:450px;
	// }
	// @media screen and (min-width:768px) {
	// 	display: flex;
	// 	flex-wrap: wrap;
	// 	margin-left: -15px;
	// 	margin-right: -15px;
	// 	margin-bottom: -15px;
	// 	width: 738px;
	// }
	// @media screen and (min-width:1200px) {
	// 	margin-bottom: -30px;
	// 	width: 1170px;
	// }
}

.our-team-card {

	text-align: center;
	background-color: var(--main-bg-color);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin: 15px auto;
	//margin-left: auto;
	//margin-right: auto;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

	&__img {
		width: 100%;
		height: auto;
		object-fit: cover;
		display: block;
	}

	&__name {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.19;
		letter-spacing: 0.03em;
		margin-bottom: 10px;
		margin-top: 30px;
	}

	&__job {
		font-size: 16px;
		line-height: 1.19;
		letter-spacing: 0.03em;
		color: var(--secondary-text-color);
	}

	max-width: calc((100vw - 2 * 15px) / 1);
	//width: 450px;

	@media screen and (min-width:768px) {
		//width: 354px;
		max-width: calc((100vw - 2 * 30px) / 2);
		// &:nth-last-child(-n+2) {
		// 	margin-bottom: 0px;
		// }
	}

	@media screen and (min-width:1200px) {
		//width: 270px;
		max-width: calc((100vw - 4 * 30px) / 4);
	}

	// &:not(:last-child) {
	// 	margin-bottom: 30px;
	// } 
	// @media screen and (min-width:768px) {
	// 	margin-bottom: 30px;
	// }
}

