.image-card {
	position: relative;

	&__img {
		display: block;
	}

	&__label-wrapper{
		position: absolute;
		width: 100%;
		height: 70px;
		background-color: rgba(47, 48, 58, 0.8);
		bottom: 0;
		
		&__label {
			position: absolute;
			font-weight: 700;
			text-transform: uppercase;
			color: var(--third-text-color);
			white-space: nowrap;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);	
		}
	}
}
