/* header {
  display: flex;
  justify-content: space-around;
  background: yellow;
} */
/* body {
  background-size: 100% 100%;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  
  
}  */
/* div {
  padding: 10px;
  width: 500px;
  margin: 0 auto;
  opacity: 0.3;
} */
/* span {
   color: rgb(25, 138, 236); 
  border: 1px solid red;
}

.hat {
  text-align: center;

  color: rebeccapurple;

  background: #2f303a;
  height: 600px;
}
.button {
  margin: auto;
} */
