.navigation {
    display: flex;
	margin-left: 92px;
    padding: 32px 0px;
    gap: 50px;

    &__element {
        padding: 32px 0px;
        color: inherit;
        position: relative;
        font-weight: 500;
	    letter-spacing: 0.02em;
	    transition: color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1), fill var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
        
        &:focus,
        &:hover {
            color: var(--supporting-color);
	        cursor: pointer;
	        fill: currentColor;
        }
        &--selected::after{
            position: absolute;
	        content: "";
	        display: block;
	        width: 100%;
	        height: 4px;
	        border-radius: 2px;
	        background-color: var(--supporting-color);
	        bottom: -1px;
        }       
    }
}



