h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ffffff;
	color: #212121;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.14;
	


}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	cursor: default;
}

img {
	display: block;
	
	max-width: 100%;
	height: auto;
  }
main {
	border-top: 1px solid #ececec;
}
