.container {
	//display: flex;
	//position: absolute;
	//width: 480px;
	padding: 16px 15px;
	margin: 0 auto;

	@media screen and (min-width: 768px) {
		padding: 26px 15px;	
	}

	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	
	&--align-items-flex-start {
		align-items: flex-start;
	}

	&--for-filter-btns {


		display: flex;
		justify-content: center;
		
		gap: 8px;
		margin: 0 auto;
		margin-bottom: 40px;
	@media screen and (min-width:480px) {
        width: 480px;  
    }
    @media screen and (min-width:768px) {
        width: 768px;    
    }
    @media screen and (min-width:1200px) {
       width: 1200px;  
    }


	}


}

