:root {
	--main-bg-color: #ffffff;
	--secondary-bg-color: #f5f4fa;
	--third-bg-color: #2f303a;
	--main-text-color: #212121;
	--secondary-text-color: #757575;
	--third-text-color: #ffffff;
	--supporting-color: #2196f3;
	--logo-secondary-color: #000000;
	--logo-primery-color: #AFB1B8;
	--cubic-value:0.4, 0, 0.2, 1;
	--animation-time: 250ms;
}